$animation: 'rotateInDownLeft';

.#{$animation} {
  transform-origin: left bottom;
  transform: rotate3d(0, 0, 1, -45deg);
  opacity: 0;
}

.#{$animatedClass} > .#{$animation} {
  transform-origin: left bottom;
  transform: none;
  opacity: 1;
  transition: opacity $animationSpeed ease, transform $animationSpeed ease;
}
