$animation: 'rotateIn';

.#{$animation} {
  transform-origin: center;
  transform: rotate3d(0, 0, 1, -200deg);
  opacity: 0;
}

.#{$animateInClass} > .#{$animation} {
  transform-origin: center;
  transform: none;
  opacity: 1;
  transition: opacity $animateInDuration ease, transform $animateInDuration ease;
}
