$animation: 'rotateInUpRight';

.#{$animation} {
  transform-origin: right bottom;
  transform: rotate3d(0, 0, 1, -90deg);
  opacity: 0;
}

.#{$animateInClass} > .#{$animation} {
  transform-origin: right bottom;
  transform: none;
  opacity: 1;
  transition: opacity $animationInDuration ease, transform $animationInDuration ease;
}
