$animation: 'rotateInDownRight';

.#{$animation} {
  transform-origin: right bottom;
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
}

.#{$animateInClass} > .#{$animation} {
  transform-origin: right bottom;
  transform: none;
  opacity: 1;
  transition: opacity $animationDuration ease, transform $animationDuration ease;
}
