$animation: 'rotateInUpRight';

.#{$animation} {
  transform-origin: right bottom;
  transform: rotate3d(0, 0, 1, -90deg);
  opacity: 0;
}

.#{$animatedClass} > .#{$animation} {
  transform-origin: right bottom;
  transform: none;
  opacity: 1;
  transition: opacity $animationSpeed ease, transform $animationSpeed ease;
}
