$animation: 'flipInX';

.#{$animation} {
  backface-visibility: visible !important;
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
}

.#{$animatedClass} > .#{$animation} {
  transform: perspective(400px);
  transition: opacity $animationSpeed ease, transform $animationSpeed ease;
  opacity: 1;
}
