$animation: 'flipInY';

.#{$animation} {
  backface-visibility: visible !important;
  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  opacity: 0;
}

.#{$animateInClass} > .#{$animation} {
  transform: perspective(400px);
  transition: opacity $animateInDuration ease, transform $animateInDuration ease;
  opacity: 1;
}
