$animation: 'fadeInDown';

.#{$animation} {
  opacity: 0;
  transform: translate3d(0, $normalDistance, 0);
}

.#{$animateInClass} > .#{$animation} {
  opacity: 1;
  transform: none;
  transition: opacity $animationInDuration ease, transform $animationInDuration ease;
}
