$animation: 'slideInRight';

.#{$animation} {
  transform: translate3d($normalDistance, 0, 0);
  visibility: visible;
}

.#{$animateInClass} > .#{$animation} {
  transform: translate3d(0, 0, 0);
  transition: transform $animateInDuration ease;
}
