$animation: 'slideInRight';

.#{$animation} {
  transform: translate3d($normalDistance, 0, 0);
  visibility: visible;
}

.#{$animatedClass} > .#{$animation} {
  transform: translate3d(0, 0, 0);
  transition: transform $animationSpeed ease;
}
