$animation: 'zoomInUp';

.#{$animation} {
  opacity: 0;
  transform: scale3d(.1, .1, .1) translate3d(0, 400px, 0);
}

.#{$animateInClass} > .#{$animation} {
  opacity: 1;
  transform: none;
  transition: opacity $animateInDuration ease, transform $animateInDuration ease;
}
